body {
    margin: 0 70px;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    width: 162px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: #F60;
    color:#fff;
}

.ageo_font {
    font-family: 'Ageo Personal Use', sans-serif;                                              
    font-size: 14;
    font-weight: 500;
}

.roboto_font {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    margin: 30px 0;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 33% 33% 34%;
}

header > img {
    width: 240px;
    height: 48px;
}

.center_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    list-style-type: none;
}

.right_header {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}

#button {
    width: 120px;
    margin-left: 20px;
}

/* Main */
.intro {
    height: 560px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.left_intro {
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 15px;
    color: #0B1B35;
    font-size: 70px;
    font-style: normal;
    font-weight: 850;
    line-height: 81px;
    margin-bottom: 10px;
}

#text_intro {
    margin: 10px 0;
    font-size: 22px;
    line-height: 28px;
}

.start {
    margin-top: 30px;
    display: flex;     
}

.start > input {
    margin-right: 40px;
}

.intro > img {
    width: 600px;
    height: 100%;
    object-fit: contain; 
 }

#name, #testmonials, #team {
    margin: 10px auto;
    /* padding-top: 10px; */
    text-align: center;
    color: #8A898E;
    font-weight: 700;
    letter-spacing: 6.3px;
    text-transform: uppercase;
}

#vision, #opinions, #subscribe{
    margin: 10px;
    text-align: center;
    color: #0B1B35;
    font-size: 52px;
    font-weight: 700;
}

.grid_table {
    margin: 40px 0;
    padding: 40px 0;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    
}

.grid {
    padding-top: 40px;
    text-align: center;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px rgba(0, 0, 0, 0.02), 0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03), 0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04), 0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04), 0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07); 
}

.grid img {
    width: 76px;
    height: 76px;
    object-fit: contain;
}

.grid_name {
    font-size: 36px;
    font-weight: 700;
}

.description {
    margin: 0 40px 30px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.component_container {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.left_component_cont {
    width: 40%;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left_component_cont >h5 {
    color: var(--colors-heading, #1E0E62);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}

.left_component_cont > p {
    color: var(--colors-text, rgba(21, 20, 57, 0.40));    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    
}

.explore_btn {
    width: 134px;
    height:48px;
    background-color: white;
    border: 2px solid #EBEAED;
    border-radius: 100px;
    color: #1E0E62;
    font-size: 16px;
    font-weight: 500;
}

.client_grid {
    margin-top: 50px;
    padding: 10px 40px;
    /* width: 70%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 50px;
}
.client_card {
    height: 220px;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    position: relative;
}

.client_card img {
    padding: 18px 24px;
    justify-self: right;
    
}

.client_opinion {
    color: #0B1B35;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    
}

.client_name {
    color: #8A898E;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
}

.newsletter_container {
    margin-top: 50px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.newsletter_container > img {
    object-fit: contain;
}

.container_right {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 20px;
}

.container_right > p {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.5px; 
}

input[type="email"] {
    border: 1px solid #c7c6ca;
    border-radius: 49px;
    box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px rgba(0, 0, 0, 0.02), 0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03), 0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04), 0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04), 0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    height: 78px;
    padding: 6px 70px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;  
}

#subscribe_btn {
    margin: 30px 0;
    width: 100%;
    height: 50px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

/* Footer */
footer {
    margin: 70px 0 30px;
    padding-bottom: 30px;
    height: 30px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    color: #1E0E62;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #c0bfc2;
}

.left_footer {
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#footer_logo {
    width: 110px;
    height: 24px;
    object-fit: contain;
    padding-bottom: 9px;
}

.left_footer > p {
    align-self: center;
}

.right_footer {
    list-style-type: none;
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 8px;
    align-self: center;
}
